.map-name-container {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  padding-right: 2px;
  color: black;
  padding-left: 2px;
}

#blocked-text {
  position: absolute;
  width: 250px;
  top: 50;
  left: 175;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border: solid 2px black;
}

#tutorial-text {
  position: absolute;
  font-size: 16px;
  line-height: 22px;
  width: 420px;
  top: 30;
  left: 85;
  background-color: rgba(255, 255, 255, 1.0);
  padding: 20px;
  border-radius: 5px;
}

@media only screen  
  and (min-device-width: 320px)
  and (max-device-width: 480px) {
  .game-container {
    transform: scale(0.6) translateY(-75px);
    height: 300px;
  }
}
