.ot-password-large-container {
  width: 700px;
  height: 500px;
}

.ot-password-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  border: black 1.5px solid;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
}

.ot-password-submit-button {
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: solid 1px black;
  color: black;
  background-color: white;
  border-radius: 7px;
}

.ot-password-input {
  font-size: 20px;
  border-style: solid;
  border-width: 1px;
}